* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lexend Deca";
}

/*BRANDING - DESKTOP VIEW*/



/*BRANDING - TABLET VIEW*/



/*BRANDING - MOBILE VIEW*/



/*BRANDING - BUTTONS*/



/*HOMEPAGE SPECIFIC STYLING*/



/*LOGIN PAGE SPECIFIC STYLING*/



/*ACCOUNT PAGE SPECIFIC STYLING*/



/*ABOUT SPECIFIC STYLING*/



/*BOOKINGS PAGE SPECIFIC STYLING*/



/*FLIGHTS PAGE SPECIFIC STYLING*/



/*HELP PAGE SPECIFIC STYLING*/