MONGODB_STRING=
PORT=4000
JWT_SECRET_KEY=AirlineBookingSystem
TARGET_ORIGIN=http://localhost:5173
GOOGLE_clientID=
GOOGLE_clientSecret=
GOOGLE_callbackURL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
